<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include partials/navbar.ejs %>
    <div class="col-md-12">
        <form action="#" method="post">
            <div class="form-group ad-30" style="margin-top:8px;">
                <div class="input-group search-style">
                    <input class="form-control new-search-bar" name="region" id="search" placeholder="输入群组名称" type="text">
                    <span class="input-group-btn">
                        <button class="btn input-btn" type="" id="search-form">搜索</button>
                    </span>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-12">
        <div class="">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filter-container">
                                <div class="card">
                                    <form action="#" method="post">
                                        <div class="content">
                                            <p class="filter">
                                                筛选 Filter
                                            </p>
                                            <hr/>
                                            <select class="form-control" name="region" id="region">
                                                <option value="">选择地区</option>
                                                <% _.forEach(region,function(value) { %>
                                                    <option value="<%= value._id %>"><%= value._id %></option>
                                                <% }) %>
                                            </select>
                                            <div class="clearfix"></div>
                                            <button class="btn add-apply">确定</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div>
                        <% _.forEach(data,function(val) { %>
                        <div class="category-list">
                            <div class="row">
                                <% _.forEach(val,function(val2) { %>
                                <form action="#" method="post" id="add-fav">
                                    <div class="item col-md-4">
                                        <a style="text-decoration:none" href="/group/<%= val2.name %>">
                                            <div class="thumbnail">
                                                <img src="uploads/<%= val2.image %>" alt="<%= val2.name %>">
                                                <div class="caption">
                                                    <h4>名称： <%= val2.name %></h4>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-6">
                                                            <p>地区： <%= val2.region %></p>
                                                        </div>
                                                        <div class="col-xs-12 col-md-6">
                                                            <button class="btn add-fav">加入收藏</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </form>
                                <% }) %>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>